.bg-color {
  background-color: #606369;
}

.bg-color-main {
  background-color: white;
}

.jumbo-space {
  margin-top: 100em;
  margin-bottom: 100em;
  background-color: transparent !important;
}


body{
  background-color: white;
}

.button {
  border-radius: 0 !important;
}

.box {
	border-color: black;
	border-style: solid;
	padding: 20px;
	margin: auto;
}

.spacing {
  margin-bottom: 100px;
  margin-top: 50px;
}

.row-spacing {
  margin-top: 40px;
}
