body, html {
  height: 100%;
}

.bg-color {
  background-color: #6C757D;
}

.bg-color-main {
  background-color: white;
}

.jumbo-space {
  margin-top: 5em;
  margin-bottom: 5em;
  background-color: transparent !important;
}


body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  height: 100%;
  margin: 0;
}

.button {
  border-radius: 0 !important;
}

.box {
	border-color: white;
	border-style: solid;
	padding: 20px;
	margin: auto;
}

.spacing {
  margin-bottom: 100px;
  margin-top: 50px;
}

.row-spacing {
  margin-top: 40px;
}

.title {
  font-weight: bold;
  width: 250px;
}

.profile-pic {
  border-radius: 50%;
  height: 300px;
  margin: 10px 20px 30px 10px;
}

.name {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.parallax {
  /* The image used */
  background-image: url("./images/water-bg.png");
  color: white;
  /* Set a specific height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center-name {
  display:flex;
  flex-direction: row;
  text-align: center;
  margin: 20px;
}

.center-name h1{
  margin: 0 20px;
}

#home .main-name {
  display: flex;
  align-items: center;
  width: 100%;
} 



@media only screen and (max-width: 500px){
  #home .center-heading {
    display: flex;
    justify-content: center;
  }

  .center-name {
    flex-direction: column;
  }
  
  .center-name h1 {
    margin: 20px;
  }

  .box .title{
    width: 100%;
    text-align: center;
  }

  .project-img img {
    width: 100%;
  }

  .center-project {
    text-align: center;
  }

  .foot {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .copyright {
    margin-right: 0 !important;
  }
}